name: Build & Deploy UI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      service_name:
        required: true
        type: string
      image_route:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      target_ip: ${{ steps.set-deploy-vars.outputs.target_ip }}
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR (runner)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
          docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build UI Docker image
        run: docker build -t ${{ inputs.image_route }} .

      - name: Push UI Docker image
        run: docker push ${{ inputs.image_route }}

      - name: Set deploy variables (dev / prod)
        id: set-deploy-vars
        run: |
          if [ "${{ inputs.environment }}" = "production" ]; then
            echo "target_ip=${{ secrets.IP_PROD }}" >> $GITHUB_OUTPUT
          else
            echo "target_ip=${{ secrets.IP_DEV }}" >> $GITHUB_OUTPUT
          fi

  deployment:
    name: Deploy UI to VM
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Add SSH key (production)
        if: ${{ inputs.environment == 'production' }}
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.PRIVATE_KEY_PROD }}

      - name: Add SSH key (development)
        if: ${{ inputs.environment != 'production' }}
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.PRIVATE_KEY_DEV }}

      - name: Deploy UI
        env:
          TARGET_IP: ${{ needs.build-and-push.outputs.target_ip }}
          ENVIRONMENT: ${{ inputs.environment }}
        run: |
          COMPOSE_FILE="docker-compose.dev.yml"
          if [ "$ENVIRONMENT" = "production" ]; then
            COMPOSE_FILE="docker-compose.prod.yml"
          fi

          echo "Deploying to $TARGET_IP using $COMPOSE_FILE"

          ssh -o StrictHostKeyChecking=no \
            ${{ secrets.SSH_USER }}@$TARGET_IP <<EOF
              set -e
              cd infra-ingsis
              echo "${{ secrets.GHCR_TOKEN }}" | \
                docker login ghcr.io -u ${{ secrets.GHCR_USER }} --password-stdin
              docker pull ${{ inputs.image_route }}
              docker compose -f ${COMPOSE_FILE} up -d ${{ inputs.service_name }}
          EOF
