name: Reusable CI Workflow
on:
  workflow_call: {}

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Apply formatting with Spotless
        run: ./gradlew spotlessApply

      - name: Build, lint & test
        run: ./gradlew clean build

      - name: Verify code coverage
        run: ./gradlew jacocoTestCoverageVerification
